/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/11/2013, 12:19:24
    Author     : milton
*/
.seleccionarProyectoDiv{
    float: left;
    width: 64%;
    border-right:1px darkseagreen dashed;
    padding-bottom: 30px;
    padding-right: 1%;
}
.proyectoTable{   
   border-collapse:collapse;
   border:1px solid #000000;
   width: 100%
}

.proyectoTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.proyectoTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;
}

.proyectoTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}

.postulacionesCargosRealizadasDiv{
    float: right;
    width: 34%;
    
}
.postulacionCargoTable{   
   border-collapse:collapse;
   border:1px solid #000000;
   width: 100%;
}

.postulacionCargoTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.postulacionCargoTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;
}

.postulacionCargoTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #efdf6d;
}
.terminarPostulacion{
    float: right;
    margin: 2em;
    margin-right: 0em;
    background-color: coral;
    border-radius: 15px;
    padding: 10px;
}
.cancelarPostulacion{
    float: left;
    margin: 2em;
    margin-right: 0em;
    border-radius: 15px;
    padding: 10px;
}


.linkProyecto{
   text-align:center;
   text-decoration: none;
   color: tomato;
}